<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerLinks}}
  </head>
  <body>
    <!-- nav bar -->

   {{>navbar}}
    <!-- main header  -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              
            <!-- left side -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errorImag">
                    <img src="Images/404-pages.jpg" alt="Gp" class="img-fluid " >
                </figure>
              <p>Welcome to Ganesh Pun World</p>
              <h1>{{msg}}</h1>
              <a href="/"><button>Go Back</button></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- footer  -->
    {{>footer}}
  </body>
</html>
